{% extends 'base.html.twig' %}

{% block main %}
    <section>
        {% for category in categories %}
            {% include 'admin/category.html.twig' %}
            <a href="{{ path('admin_insert_category') }}">Ajouter une catégorie</a>
            <a href="{{ path('admin_show_category', {'id':category.id}) }}">Voir cette catégorie</a>
            <a href="{{ path('admin_categories') }}">Voir toutes les catégories</a>
        {% endfor %}
    </section>
{% endblock %}