{% extends 'base.html.twig' %}

{% block main %}
    <section>
        {% for cocktail in cocktails %}
            {% include 'admin/cocktail.html.twig' %}
            <a href="{{ path('admin_insert_cocktail') }}">Ajouter un cocktail</a>
            <a href="{{ path('admin_show_cocktail',{'id':cocktail.id}) }}">Voir ce cocktail</a>
        {% endfor %}
    </section>
{% endblock %}