{% extends 'base.html.twig' %}

{% block main %}
    <section>

        {% for mocktail in mocktails %}
            {% include 'admin/mocktail.html.twig' %}
            <a href="{{ path('admin_insert_mocktail') }}">Ajouter un mocktail</a>
            <a href="{{ path('admin_show_mocktail',{'id':mocktail.id}) }}">Voir ce mocktail</a>
        {% endfor %}
    </section>
{% endblock %}