{% extends 'home/base.html.twig' %}

    {% block main %}
       <div class="about_image">
             <p>          Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Assumenda tenetur corporis perspiciatis eum. Necessitatibus quidem at mollitia
                 exercitationem excepturi unde id aliquid voluptates obcaecati sequi, debitis,
                 illum nobis odit inventore nesciunt quod dignissimos voluptate, officiis libero
                 quas architecto omnis? Suscipit perspiciatis, architecto aliquid cumque reiciendis
                 porro laborum non autem quibusdam fugiat omnis commodi unde, quidem pariatur dolorum
                 nostrum asperiores delectus saepe animi ullam atque rem ipsam assumenda eos.
                 Nam possimus expedita deserunt maiores ex, labore debitis, necessitatibus consequatur
                 ea officia odio repudiandae aut aperiam qui, quae rerum neque blanditiis eveniet esse
                 fugit tenetur ab voluptas doloremque? Consequuntur natus soluta autem.</p>
       </div>
    {% endblock %}