{% extends 'base.html.twig' %}

{% block main %}
    <section>
        <article class="page_mocktail">
            <img class="mocktail-img" alt="{{ mocktail.titre }}">
            <h1>{{ mocktail.titre}}</h1>
            <p>{{ mocktail.ingredients }}</p>
            <p>{{ mocktail.preparation }}</p>
        </article>
    </section>
{% endblock %}