{% extends 'base.html.twig' %}

    {% block main %}
        <section>
            <article class="page_cocktail">
                <h1>{{ cocktail.titre }}</h1>
                <p>{{ cocktail.ingredients }}</p>
                <p>{{ cocktail.preparation }}</p>
            </article>
        </section>
    {% endblock %}