{% extends 'base.html.twig' %}

{% block main %}
        <section>
                {% for cocktail in cocktails %}
                        <h1>{{ cocktail.titre }}</h1>
                {% endfor %}
        </section>
{% endblock %}