
.about_image {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/uploads/images/photo cocktails nuit .jpg");
  background-size: cover;
}

.about_image p {
  color: white;
  text-align: center;
  width: 50%;
  background-color: black; opacity: 0.70;
  border-radius: 10px;

}

main {
  height: 100vh;
}