.hello {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../uploads/images/photo cocktails nuit .jpg");
  background-size: cover;
  color: white;
}

.about {
  height: 300vh;
  display: flex;
}

.about-accueil {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin:0!important;
}

.about-pages {
  width: 50%;

}

.about-pages div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.about-pages div> p{
  width: 80%;
  font-size: 18px;
  line-height: 30px;
}

.about-pages div:nth-child(1){
 background-color: #F7AEF8;
}

.about-pages div:nth-child(2){
  background-color: #B388EB;
}

.about-pages div:nth-child(3){
  background-color: #8093F1;
}