//body {
//  background-image: url("../../uploads/images/imgA.jpg");
//  background-size: cover;
//  height: 100vh;
//}

*{
  font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 575.98px) {
  .burgermobile {
    display: block !important;
  }
}

@media (max-width: 575.98px) {
  header, main, footer {
    display: block;
  }
}
