//#show-category {
//  .category {
//    background-attachment: fixed;
//    background-repeat: no-repeat;
//    background-position: center top;
//    background-size: cover;
//    min-height: 100vh;
    // mettre & devant toutes les classes
//  }


  .Vodka {
    background: url("../../uploads/images/cocktail_vodka.jpg") no-repeat center top fixed;

    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap:20px;

    .drinks {
      width:100%;
      display: flex;
      margin: 60px;
      p {
        color: white;
      }

      &.pair{
        .wrapperText{
          margin:auto;
        }
      }
      .wrapperText{
        width:40%;
      }
    }

    .drinks p, .drinkTitre {
      color: white;
    }

    .ingredients::after {
      border-top: solid 1px white;
    }

  }

  .Liqueurdecafe {
    background: url("../../uploads/images/cocktail.cafe.jpg") no-repeat center top fixed;

    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    //flex-wrap: wrap;
    //gap:8rem;

    .drinks {
      width:100%;
      display: flex;
      margin: 60px;

      &.pair{
        .wrapperText{
          margin:auto;
        }
      }
      .wrapperText{
        width:40%;
      }
    }

  }

  .Tequila {
    background: url("../../uploads/images/cocktail_tequila.jpg") no-repeat center top fixed;

    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    //flex-wrap: wrap;
    //gap:8rem;

    .drinks {
      width:100%;
      display: flex;
      margin: 60px;

      &.pair{
        .wrapperText{
          margin:auto;
        }
      }
      .wrapperText{
        width:40%;
      }
    }

  }

  .Banane {
    background: url("../../uploads/images/mock.banane.jpg") no-repeat center top fixed;

    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap:20px;

    .drinks {
      width:100%;
      display: flex;
      margin: 60px;
      p {
        color: black;
      }

      &.pair{
        .wrapperText{
          margin:auto;
        }
      }
      .wrapperText{
        width:40%;
      }
    }

    .drinks p, .drinkTitre {
      color: black;
    }

    .ingredients::after {
      border-top: solid 1px black;
    }
  }

  .Citron {
    background: url("../../uploads/images/mocktail_citron.jpg") no-repeat center top fixed;

    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap:20px;

    .drinks {
      width:100%;
      display: flex;
      margin: 60px;
      p {
        color: black;
      }

      &.pair{
        .wrapperText{
          margin:auto;
        }
      }
      .wrapperText{
        width:40%;
      }
    }

    .drinks p, .drinkTitre {
      color: black;
    }

    .ingredients::after {
      border-top: solid 1px black;
    }
  }

  .Fraise {
    background: url("../../uploads/images/mock.fraise.jpg") no-repeat center top fixed;

    background-size: cover;
    min-height: 100vh;
    display: flex;
    //flex-wrap: wrap;
    //gap: 20px;

    .drinks {
      width: 100%;
      display: flex;
      margin: 60px;


      &.pair {
        .wrapperText {
          margin: auto;
        }
      }

      .wrapperText {
        width: 50%;
      }
    }
  }

  .drinks p {
    color: white;
  }

  .i, .p, .drinkTitre {
    font-weight: bold;
    color:white;
    margin:15px 0;
  }

  .p{
    margin-top:30px;
  }

  .drinkTitre{
    margin-bottom:30px;
    font-size:2rem;
  }

  .ingredients{
    position: relative;
    &::after{
      content:"";
      position:absolute;
      left:50%;
      bottom:-15px;
      transform:translateX(-50%);
      width:30%;
      border-top:solid 1px white;
    }
  }


