.insertupdate-category {

  background-color: #141414;
  height: 100vh;
  .titre {
    text-align: center;
    color: white;
    font-size: 3rem;
    font-weight: lighter;
    position: relative;
    width: 100%;

    &::after{
      content:'';
      position: absolute;
      bottom:-10px;
      left:50%;
      width:10%;
      border-top:1px solid white;
      transform: translateX(-50%);
    }
  }

  form {
    padding: 40px;
    text-decoration: none;
    .inline{
      display:flex;
    }
    label {
      font-weight: lighter;
      font-size: 24px;
      color: white;
      display: block;
    }

    input, textarea {
      width: 40%;
      display: block;
      color: black;
      font-size: 15px;
      font-weight: lighter;
      margin-bottom: 10px;
      &.form-category-isCocktail-widget {
        width: 10%;
      }
    }
    input[type='file']{
      color: white;
    }
    textarea {
      height: 6rem;
    }
  }
}